<div class="p-4">

  <h2>Add Inventory</h2>
  <hr>

  <div class="row">
    <div class="col-3">Name</div>
    <div class="col-9 mb-4">
      <input #txtName type="text"
             class="form-control form-control-lg" placeholder="eg:  macbook pro"></div>
    <div class="col-3">Amount</div>
    <div class="col-9 mb-4">
      <input type="number" #txtAmt class="form-control form-control-lg" placeholder="Selling Price"></div>
    <div class="col-3">Qty In Stock</div>
    <div class="col-9 mb-4">
      <input type="number" #txtQty class="form-control form-control-lg" placeholder="Stock In"></div>
    <div class="col-3">Id</div>
    <div class="col-9 mb-4">
      <input type="text" #txtId class="form-control form-control-lg" placeholder="Unique Id"></div>
  </div>

  <div class="p-2 mt-4">

    <button (click)="addNewItem(txtId.value,txtName.value,txtAmt.value, txtQty.value)" class="btn btn-primary btn-lg">Add Inventory</button>
  </div>

</div>
